/* Color Scheme:
    #5d8547 Moss green
    #E7C474 yellowish
    #F5f5f5 white smoke
    #cdd1c1 beige
Fonts:
headings
    font-family: "Old Standard TT", serif;
    font-weight: 700;
body
    font-family: Georgia
*/

#wrapper{
    background-color: #cdd1c1;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

body{
    background-color: #f5f5f5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    display: flex;
}

h1, h2, h3{
    font-family: "Old Standard TT", serif;
    font-weight: 700;
}

header{
    display: flex;
    align-items: center;
    background-image: url(images/hero_sunflower.JPG);
    border-bottom: 2px solid #5d8547;
    margin: 2px;
}

header img{
    background-color: #E7C474;
}

#navBar{
    padding-left: 22.5px;
}

#navBar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
     
}

#navBar ul li{
    float: left; 
}

#navBar ul ul{
    display: none;
    position: absolute;
    top: 100%;
}

#navBar ul ul li{
    float: none;
}

#navBar ul li:hover >ul{
    display: block;
}

#navBar >ul::after{
    content: "";
    display: block;
    clear: both;
}

#navBar ul li a{
    text-align: center;
    display: block;
    width: 176px;
    padding: 1em 0;
    text-decoration: none;
    font-family: "Old Standard TT", serif;
    font-weight: bold;
    font-size: 24px;
    color: #5d8547;
    background-color: #E7C474;
    border: 2px solid #5d8547;
    border-radius: 10px;

}

#navBar ul li a:hover{
    color: #E7C474;
    background-color: #5d8547;
    border: 2px solid #E7C474;
}

footer{
    background-color: #5d8547;
    border-top: 2px solid #E7C474;
    min-height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
footer a{
    color: #E7C474;
}

/* INDEX */
#welcome{
    border-radius: 10px;
    border: 2px solid #5d8547;
    flex: 6;
    margin: 16px;
    padding: 24px;
    text-align: center;
}

#overview{
    border-radius: 10px;
    border: 2px solid #5d8547;
    flex: 3;
    margin: 16px;
    padding: 24px;
    background-color: #E7C474;
    text-align: center;
}

#overview h1, #welcome h1{
    border-bottom: 2px dashed #5d8547;
}

#overview ul{
    font-size: 24px;
    list-style-type: none;
    padding: 10px;
    padding-top: 0;
}

#overview ul li{
    padding: 20px;
    margin: 10px;
    border-bottom: 2px solid #5d8547;
}

/* SERVICES */
#sNav{
    position: fixed;
    flex: none;
    border: 2px solid #5d8547;
    background-color: #E7C474;
    margin: 8px;
    padding: 0;
    border-radius: 10px;
    width: 240px;
    height: auto;
}

#sNav ul{
    font-size: 24px;
    list-style-type: none;
    padding: 10px;
    padding-top: 0;
    text-align: center;
}

#sNav ul li{
    padding: 20px;
    margin: 10px;
    border-bottom: 2px solid #5d8547;
}

#sNav ul li a{
    color: #5d8547;
    text-decoration: none;
}

.serviceSection{
    padding: 10px 0;
    border-bottom: 2px dashed #5d8547;
}

#services h1{
    text-align: center;
    border-bottom: 5px dashed #E7C474;
}

#services{
    flex: 1;
    border: 2px solid #5d8547;
    float: right;
    max-width: 872px;
    margin: 8px 8px 8px 260px;
    padding: 24px;
    border-radius: 10px;

}

.threepics{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
}
.threepics img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.onepic{
    display: flex;
    justify-content: center;
    align-items: center;
}

.onepic img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}


/* DOVE CLUB */
#wodc{
    margin: 12px;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #5d8547;
    text-align: center;
}

#wodc p{
    font-size: 20px;
    text-align: left;
}

#wodc img{
    border: 2px solid #5d8547;
    background-color: #E7C474;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
}

#dc{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}
#dc img{
    border-radius: 20px;
}

/* ABOUT */
#abt{
    margin: 12px;
    padding: 24px;
    border-radius: 10px;
    border: 2px solid #5d8547;
}

#abt h1{
    text-align: center;
}



#abt p{
    font-size: 20px;
}

#BDH{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    margin-right: 16px;
}
#BDH img{
    border-radius: 20px;
}

/* GALLERY */
#gal h1{ 
    text-align: center;
    border-bottom: 2px solid #5d8547;
}
#gal{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.tp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.tp img{
    border-radius: 20px;
    border: 5px solid #E7C474;
}


@media screen and (max-width: 700px){
    main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}
    img{width: auto; max-width: 100%;}
    /* index */
    #welcome{width: auto; max-width: 100%;}
    #overview{width: auto; max-width: 100%;}
    /* services */
    #sNav {display: none;}
    #services {width: auto; margin: auto; max-width: 100%;}
    .serviceSection {width: auto;}
    .threepics {flex-direction: column; width: auto;}
    /* dove club */
    #wdoc{width: auto; max-width: 100%;}
    #dc{flex-direction: column; width: auto;}
    /* About */
    #abt{width: auto; max-width: 100%;}
    #BDH{flex-direction: column; width: auto; max-width: 100%;}
    /* Gallery */
    #gal{width: auto; max-width: 100%;}
    .tp{flex-direction: column; width: auto;}
}
